<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <ion-icon name="arrow-back" routerLink="/settings"></ion-icon>Change password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-item>
    <ion-label position="floating">Enter current password</ion-label>
    <ion-input [(ngModel)]="pass"></ion-input>
  </ion-item>
 
  <ion-button (click)="sendpass()">Submit</ion-button>
</ion-card>

<ion-card *ngIf="a">
  <ion-item>
    <ion-label position="floating" show-hide-input>New password password</ion-label>
    <ion-input [(ngModel)]="newpass"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" show-hide-input>Re-enter password</ion-label>
    <ion-input [(ngModel)]="repass"></ion-input>
  </ion-item>
  <ion-input [(ngModel)]="err"></ion-input>
  
  <ion-button (click)="updatepass()">Submit</ion-button>
</ion-card>
</ion-content>
