<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <form [formGroup]="jobForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Add jobs</ion-label>
        <ion-input formControlName="category" inputmode="text"></ion-input>
      </ion-item>
      
    </ion-card>
    <ion-card>
      <ion-item>
        <div class="ion-padding">
          <ion-button [disabled]="!jobForm.valid" color="primary" expand="block" type="submit" class="ion-no-margin">Addd job</ion-button>
         
        </div>
      </ion-item>
    </ion-card>
    
  </form>
</ion-card>

</ion-content>

