<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>

    </ion-buttons>
    <ion-title><ion-icon name="arrow-round-back" routerLink="/settings"></ion-icon>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">About</ion-card-header>
    <ion-item>
      <p>
        Getwork is an application for people to search works and make appointment with them.
        It provide a platform for users to create their job profile and improve their works
      </p>
     
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary">Help</ion-card-header>
    <ion-item>

      <p>
        For more informations and details log on to www.getwork.in

      </p>
    </ion-item>
    
  </ion-card>

</ion-content>
