<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title><ion-icon name="arrow-round-back" routerLink="/mybookings"></ion-icon>My Works</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let p of pages">
  <ion-item> <ion-avatar slot="start">
    <img src="{{p.profile_pic}}">
  </ion-avatar>
  <ion-label><b>{{p.name}}</b></ion-label></ion-item>
  
</ion-card>
<ion-text><b>Location</b></ion-text>
<div #mapElement class="map" id="map"></div>
<ion-item>
  <ion-label>Rate me</ion-label>
  <ion-icon name="star"  (onmouseover)="starmark(this)"   (click)="starmark(1)" value="1" id="1rt"></ion-icon>
  <ion-icon name="star"  (onmouseover)="starmark(this)"  (click)="starmark(2)" id="2rt"></ion-icon>
  <ion-icon name="star" (onmouseover)="starmark(this)"  (click)="starmark(3)" id="3rt"></ion-icon>
  <ion-icon name="star"  (onmouseover)="starmark(this)"  (click)="starmark(4)" id="4rt"></ion-icon>
  <ion-icon name="star"  (onmouseover)="starmark(this)"  (click)="starmark(5)" id="5rt"></ion-icon>
</ion-item>
<ion-item>
  <ion-label  position="floating">Write a commend</ion-label>
  <ion-input [(ngModel)]="commend"></ion-input>
</ion-item>
<ion-item>
  <ion-button (click)="sendreview()">Submit</ion-button>
</ion-item>
<ion-item>
  <ion-label>Completed work</ion-label>
  <ion-toggle [(ngModel)]="completed" (ionChange)="change()"></ion-toggle>
</ion-item>
</ion-content>
