<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="arrow-round-back" routerLink="/mybookings"></ion-icon>  Worker Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card *ngFor="let p of pages">
      <ion-item> <ion-avatar slot="start">
        <img src="{{p.profile_pic}}">
      </ion-avatar>
      <ion-label><b>{{p.name}}</b></ion-label></ion-item>
      <ion-item>
        Job category:{{p.workersdetails[0].job_category}}
      </ion-item>
      <ion-item>
        Job starting time:{{p.workersdetails[0].job_start_time | date:'shortTime' }}
      </ion-item>
      <ion-item>
        Job ending time:{{p.workersdetails[0].job_end_time  | date:'shortTime'}}
      </ion-item>
      <ion-item>
        Expected slary (per day):{{p.workersdetails[0].job_salary}}
      </ion-item>
      <ion-item>
       Job Description:{{p.workersdetails[0].job_description}}
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Reject Booking</ion-label>
      <ion-toggle [(ngModel)]="reject" (ionChange)="rejectworker()"></ion-toggle>
      </ion-item>
      
    </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Rate me</ion-label>
      <ion-icon name="star"  (onmouseover)="starmark(this)"   (click)="starmark(1)" value="1" id="1rt"></ion-icon>
      <ion-icon name="star"  (onmouseover)="starmark(this)"  (click)="starmark(2)" id="2rt"></ion-icon>
      <ion-icon name="star" (onmouseover)="starmark(this)"  (click)="starmark(3)" id="3rt"></ion-icon>
      <ion-icon name="star"  (onmouseover)="starmark(this)"  (click)="starmark(4)" id="4rt"></ion-icon>
      <ion-icon name="star"  (onmouseover)="starmark(this)"  (click)="starmark(5)" id="5rt"></ion-icon>
      <!-- <img style="width: 50px; height: 50px;" src="../../assets/img/smile 5.png">
      <img style="width: 50px; height: 50px;" src="../../assets/img/smile 4.jpg">
      <img style="width: 50px; height: 50px;" src="../../assets/img/smile 3.webp">
      <img style="width: 50px; height: 50px;" src="../../assets/img/smile 2.jpg">
      <img style="width: 50px; height: 50px;" src="../../assets/img/smile 1.jfif"> -->
      
    </ion-item>
    <ion-item>
      <ion-label  position="floating">Write a commend</ion-label>
      <ion-input [(ngModel)]="commend"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="sendreview()">Submit</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
