<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="home" routerLink="/admin"></ion-icon>Workers Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card color="light" >

    <ion-list *ngFor="let j of workerslist">

      <ion-item>
        <ion-text>
          Job name:{{ j.job_category }}
         
        </ion-text>
      </ion-item>
      <ion-item>
        Job starting time:{{ j.job_start_time | date:'shortTime'}}
        
      </ion-item>
      <ion-item>
        Job ending time:{{ j.job_end_time | date:'shortTime' }}
       
      </ion-item>
      <ion-item>
        Expected salary:{{ j.job_salary }}
        
      </ion-item>
      <ion-item>
        Job verification:{{ j.job_verification }}
        
      </ion-item>
      <ion-item>
        <img src="{{ j.job_document }}">
        
      </ion-item>
      <ion-item>
        Job Description:{{ j.job_description }}
      </ion-item>
    </ion-list>
       <ion-card>
         <ion-item>
          <ion-label>Approve now</ion-label>
          <ion-toggle [(ngModel)]="approved" (ionChange)="change()"></ion-toggle>
         </ion-item>
         <ion-item>
           <ion-label>Reject now</ion-label>
           <ion-toggle [(ngModel)]="rejected" (ionChange)="reject()"></ion-toggle>
         </ion-item>
         
       </ion-card>
       
  
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar sloat="bottom" color="primary">
        <ion-tab-button routerLink="/admin-addcategory">
          <ion-label color="light"><h3><b>Add jobs</b></h3></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/admin-workerlist">
          <ion-label color="light"><h3><b>Job approval</b>s</h3></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/admin-feedbacks">
          <ion-label color="light"><h3><b>Feedbacks</b></h3></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/login">
          <ion-label color="light"><h3><b>Logout</b></h3></ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
  </ion-toolbar>
</ion-footer>

