<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="home" routerLink="/admin"></ion-icon>Job Approvals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let j of workerslist; let i = index ;">

    <ion-item (onclick)="view()">
      <ion-text>
        Name:{{ j.name }}
       
      </ion-text>
    </ion-item>
    <ion-button (click)="view(this.j)">See</ion-button>
  </ion-list>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar sloat="bottom" color="primary">
        <ion-tab-button routerLink="/admin-addcategory">
          <ion-label color="light"><h3><b>Add jobs</b></h3></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/admin-workerlist">
          <ion-label color="light"><h3><b>Job approval</b>s</h3></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/admin-feedbacks">
          <ion-label color="light"><h3><b>Feedbacks</b></h3></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/login">
          <ion-label color="light"><h3><b>Logout</b></h3></ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
  </ion-toolbar>
</ion-footer>

