
<ion-content color="light">

<ion-card>
  <ion-item >
    <ion-text color="danger">
      <div class="ion-text-center"><h1>Getwork</h1></div>
    </ion-text>

  </ion-item>
  <ion-item>
    <ion-text><div class="ion-text-center"><h4>Admin Pannel</h4></div></ion-text>
   
  </ion-item>
</ion-card>




  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar sloat="bottom" color="primary">
        <ion-tab-button routerLink="/admin-addcategory">
          <ion-label color="light"><h3><b>Add jobs</b></h3></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/admin-workerlist">
          <ion-label color="light"><h3><b>Job approval</b>s</h3></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/admin-feedbacks">
          <ion-label color="light"><h3><b>Feedbacks</b></h3></ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logout()">
          <ion-label color="light"><h3><b>Logout</b></h3></ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
  </ion-toolbar>
</ion-footer>
