<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false" color="daek">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-slides>
        <ion-slide>
          <div class="slide">
          <div id="container">
            <img  src="../../assets/img/getwork.png"/>
            <h2>Welcome</h2>
           
            </div>
            
            <!--<img routerLink="/login" style="width: 150px; height: 100px;" src="../../assets/img/arrowin.png"><br>
            <ion-text routerLink="/login">Go now...</ion-text>-->
            
          </div>
        </ion-slide>
        
        <ion-slide>
          <div class="slide">
          <ion-card>
          <ion-card-header color="primary"><ion-title>Getwork</ion-title></ion-card-header>
          </ion-card>
            <img  src="../../assets/img/getwork.png"/>
            <h2>Welcome</h2>
            <ion-item>
      <p>
        Getwork is an application for people to search works and make appointment with them.
        It provide a platform for users to create their job profile and improve their works
      </p>
     
    </ion-item>

            <ion-button  routerLink="/registration">Register</ion-button>
            <ion-button  routerLink="/login">Login</ion-button>

           
          </div>
        </ion-slide> 
        
    
      </ion-slides>
 
  </ion-row>
</ion-grid>
<!-- <img routerLink="/login" style="width: 150px; height: 100px;" src="../../assets/img/arrowin.png"><br>
  <ion-text routerLink="/login" color="primary">Lets Go</ion-text> -->
<!-- <div class="slide">
  <img style="width: 500px; height: 250px;" src="../../assets/img/2471.jfif"/>
  <h2>Welcome</h2>
  <img routerLink="/login" style="width: 150px; height: 100px;" src="../../assets/img/arrowin.png"><br>
  <ion-text routerLink="/login" color="primary">Lets Go</ion-text>
</div> -->
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
 
</ion-content>
